.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    justify-content: space-between;
    padding: 92px 50px 96px 50px;
    height: 293px;                  /*  удалить потом */
}

.header__links-list {
    display: flex;
    list-style-type: circle;
    column-gap: 32px;
}

.header__links-list-item {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
}

.header__links-list-item_no-bullit {
    list-style-type: none;
}

.header__menu-link_active {
    text-decoration: none;
}

.header__links-list-item a {
    text-underline-offset: 4px;
}

.header__logo {
    width: 139px;       /* если размер не задавать, то изображение вообще не появляется */
    display: block;
}

.address {
    max-width: 240px;
    justify-self: end;
    font-style: normal;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
}

.address a {
    text-underline-offset: 4px;
}

.cover {
    position: relative;
    height: 757px;                  /* удалить потом */
    display: flex;
    flex-direction: column;
    background-image: url(../images/cover.jpg);
    background-size: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 0.5);
}

.cover__title {
    padding-top: 165px;
    padding-left: 50px;
    padding-right: 50px;
    display: grid;
    row-gap: 19px;
    font-family: Raleway;
    font-size: 100px;
    font-weight: 700;
    letter-spacing: 30px;
    text-transform: uppercase;
    color: grey;
    z-index: 1;
    width: 1100px;
}

.aligned-text_center {
    text-align: center;
    margin-right: -30px;
}

.aligned-text_right {
    text-align: right;
    margin-right: -30px;
}

.cover__description {
    margin-top: 103px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Raleway;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
}

.cover__description-text {
    z-index: 1;
    word-spacing: 19px;
    background-color: transparent;
    color: white;
}

.bet-button {
    width: 256px;
    height: 51px;
    z-index: 1;
    font-family: Raleway;
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: transparent;
    color: white;
    border: 1px solid;
}

.lots {
    padding-top: 180px;
}

.lots__heading {
    padding-left: 40px;
    padding-bottom: 27px;
    font-family: Raleway;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 100%;

}

.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 24px;
    gap: 25px;
    list-style-type: none;
    color: white;
}

.lots__card-list-item {
    width: 334px;
    min-height: 563px;
    position: relative;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 51px 40px 48px 40px;
}

.card__title {
    font-family: Raleway;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: underline;
    z-index: 1;
}

.card__text {
    font-family: Raleway;
    font-size: 20px;
    font-weight: 400;
    z-index: 1;
}

.card-link {
    height: 100%;
}

.card_type_film {
    height: 100%;
    background-image: url(../images/card-lot-01.jpg);
    background-position: center;
    background-size: cover;
}

.card_type_book {
    height: 100%;
    background-image: url(../images/card-lot-02.jpg);
    background-position: center;
    background-size: cover;
    
}

.card_type_picture {
    height: 100%;
    background-image: url(../images/card-lot-03.jpg);
    background-position: center;
    background-size: cover;
}

.lots__look-more-link {
    padding-left: 40px;
    padding-top: 30px;          /* не работает почему-то */
    font-family: Raleway;
    font-size: 20px;
    font-weight: 400;
}

.about {
    padding: 146px 24px 180px;
    display: grid;
    grid-template-columns: 334px 1fr;
    column-gap: 72px;
}

.about__column {
    
}

.about__logo {
    margin: 47px;
    height: 240px;
    width: 240px;
    display: flex;
    background: black;
    border-radius: 50%;
}

.about__logo-image {
    width: 148px;
    height: 114px;
    margin: auto;
}

.about__title {
    font-family: Raleway;
    font-size: 40;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 136px;
}

.about_text_margin {
    padding-top: 100px;
    margin-bottom: 24px;
}

.about__text {
    font-family: Raleway;
    font-size: 20;
    font-weight: 400;
}

.footer {
    margin: 180px 50px 88px 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

.footer__menu-list-item {
    list-style-type: none;
    text-align: center;
}

.footer__menu-list-item a {
    text-underline-offset: 4px;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list{
    display: flex;
    width: 240px;
    gap: 48px;
}

.footer__social-list-item {
    list-style-type: none;
}


/* .pixel-perfect-image {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.5;
      filter: sepia(0.6);
  }
    */